body {
	margin: 0;
	color: #fff;
	background-color: black;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.Header {
	max-height: 10vh;
	height: 10vh;
	align-self: flex-start;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.Header h1 {
	margin: 0;
	padding-left: 60px;
	font-size: calc(5px + 3vmin);
	justify-self: flex-start;
}

.Header h4 {
	margin: 0;
	padding-right: 60px;
}

.Body {
	max-height: 70vh;
	height: 70vh;
	overflow: scroll;
	max-width: 70vw;
	width: 70vw;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.Body::-webkit-scrollbar {
	display: none;
}

.Body h1 {
	margin: 10px 0;
	font-size: 60px;
	display: inline-block;
	padding-right: 20px;
}

.h1-container {
	opacity: 0;
	font-family: 'Sohne Breit Extraleicht';
}

.Page-One p {
	width: 440px;
	max-width: 440px;
	font-size: 18px;
	padding: 10px 20px 20px 20px;
	text-align: start;
	position: absolute;
	left: 300px;
	top: 35px;
	z-index: 2;
	width: 400px;
	word-spacing: 2px;
	hyphens: auto;
}

.Page-Zero .container-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}

.Page-Zero h1 {
	font-size: 190px;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	cursor: pointer;
}

.Page-Zero p {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 30px;
	text-align: center;
}

.Page-Zero .container-2 .div {
	font-size: 50px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 30px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.vis {
	position: fixed;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
}

.split-parent {
	overflow: hidden;
}

.split-child {
	display: inline-block;
}

.Page-Three h2 {
	position: relative;
	width: 35vw;
	max-width: 35vw;
	margin-bottom: -40px;
	margin-top: 0;
}

.Page-Three p {
	position: relative;
	bottom: 50%;
	left: 15%;
	width: 40%;
	max-width: 40%;
	margin: 0;
}

.Footer {
	max-height: 20vh;
	height: 20vh;
	/* width: 80%; */
	max-width: 70vw;
    width: 70vw;
	display: flex;
	justify-content: space-between;
	margin: 0 60px;
}

button {
	font-size: calc(10px + 6vmin);
	color: #fff;
	background-color: transparent;
	border: none;
	outline: transparent;
	padding: 0;
	cursor: pointer;
}

.display-none {
	display: none;
}

.circle-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.circle {
	width: 10px;
	height: 10px;
	border: #fff solid 1px;
	border-radius: 100%;
	margin: 0 10px;
}

@media only screen and (max-width: 480px) {
	.Body {
		max-width: 80vw;
		width: 80vw;
	}
	.Page-Zero h1 {
		font-size: 80px;
	}
	.Page-Three h2 {
		font-size: 30px;
		width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
		text-decoration: underline;
	}

	.Page-Three p {
		width: 100%;
		max-width: 100%;
		bottom: 0;
		left: 0;
	}
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
	.Page-Zero h1 {
		font-size: 90px;
	}
	.Page-Three h2 {
		font-size: 30px;
		text-decoration: underline;
		width: 100%;
		max-width: 100%;
		margin: 50px;
	}
	.Page-Three p {
		width: 100%;
		max-width: 100%;
		bottom: 0;
		left: 0;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
	.Page-Zero h1 {
		font-size: 90px;
	}
	.Page-Three h2 {
		font-size: 30px;
		width: 100%;
		max-width: 100%;
		margin: 50px;
		text-decoration: underline;
	}
	.Page-Three p {
		width: 100%;
		max-width: 100%;
		bottom: 0;
		left: 0;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
	.Page-Three h2 {
		font-size: 40px;
	}
}
@media (min-width: 1201px) and (max-width: 1699px) {
	.Body {
		max-width: 60vw;
		width: 60vw;
	}
	.Page-Three h2 {
		font-size: 50px;
	}
	.Page-Three h2:nth-child(2) {
		margin-bottom: 20px;
	}
}

@media (min-width: 1636px) and (max-width: 1699px) {
	.Page-Three h2:nth-child(2) {
		margin-bottom: 20px;
	}
}

@media (min-width: 1700px) {
	.Body {
		max-width: 60vw;
		width: 60vw;
	}
	.Page-Three h2 {
		font-size: 60px;
	}
	.Page-Three h2:nth-child(2) {
		margin-bottom: 20px;
	}
}
