body {
	margin: 0;
	color: #fff;
	background-color: black;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.Header {
	max-height: 10vh;
	height: 10vh;
	align-self: flex-start;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.Header h1 {
	margin: 0;
	padding-left: 60px;
	font-size: calc(5px + 3vmin);
	justify-self: flex-start;
}

.Header h4 {
	margin: 0;
	padding-right: 60px;
}

.Body {
	max-height: 70vh;
	height: 70vh;
	overflow: scroll;
	max-width: 70vw;
	width: 70vw;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.Body::-webkit-scrollbar {
	display: none;
}

.Body h1 {
	margin: 10px 0;
	font-size: 60px;
	display: inline-block;
	padding-right: 20px;
}

.h1-container {
	opacity: 0;
	font-family: 'Sohne Breit Extraleicht';
}

.Page-One p {
	width: 440px;
	max-width: 440px;
	font-size: 20px;
	padding: 10px 20px 20px 20px;
	text-align: center;
}

.Page-Zero .container-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.Page-Zero h1 {
	font-size: 200px;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	cursor: pointer;
}

.Page-Zero p {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 30px;
	text-align: center;
}

.Page-Zero .container-2 .div {
	font-size: 50px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 30px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* z-index: 3; */
}

.vis {
	position: fixed;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	/* z-index: 1; */
}

.Footer {
	max-height: 20vh;
	height: 20vh;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 60px;
}

button {
	font-size: calc(10px + 6vmin);
	color: #fff;
	background-color: transparent;
	border: none;
	outline: transparent;
	padding: 0;
	cursor: pointer;
}

.Left-arrow {
	margin-left: 70px;
}

.Right-arrow {
	margin-right: 70px;
}

.display-none {
	display: none;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
	.Body {
		max-width: 80vw;
		width: 80vw;
	}
}
/* @media only screen and (max-width: 768px) and (min-width: 481px)  {...} */
/* @media only screen and (max-width: 1024px) and (min-width: 769px)  {...} */
/* @media only screen and (max-width: 1200px) and (min-width: 1025px)  {...} */
@media (min-width: 1201px) {
	.Body {
		max-width: 60vw;
		width: 60vw;
	}
}
